.App {
    --header-height: 80px;

    display: grid;
    grid-template-areas:
      "header header"
      "canvas props";
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: 1fr 18rem;

    & > * {
        margin: 0;
    }

    margin: 0;
    padding: 0rem;
    min-height: 100vh;
}

.Canvas {
    grid-area: canvas;
    position: relative;
    overflow: hidden;
}

.PropsPicker {
    grid-area: props;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
    z-index: 0;
    padding: 1.5rem;
}

.Header {
    grid-area: header;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
    z-index: 1;

    display: flex;
    align-items: center;
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
    gap: 5rem;
}

/* export import elements */
